<div class="wrap">
    <section class="left-section">
        <h2>异步方法集合</h2>
        <div class="btn-wrap">
            <button class="btnCS" title="同步调接口(Promise.all)">同步调接口(Promise.all)</button>
            <button class="btnCS" title="嵌套同步调接口1(promise嵌套)">嵌套同步调接口1(promise嵌套)</button>
            <button class="btnCS" title="嵌套同步调接口2 （es7语法asayn await）">嵌套同步调接口2 （es7语法asayn await）</button>
            <h3>针对promise的then方法误区实例</h3>
            <button class="btnCS" title="mistake1">mistake1</button>
            <button class="btnCS" title="mistake2">mistake2</button>
        </div>
        <div class="result"></div>
    </section>
    <section class="right-section">
        <pre class="code1">
            <code class="language-javascript">
const syncFn1 = () => {
                const heavyApi = myfetch.fetchFn("heavyApi", {}, null);
                const api1 = myfetch.fetchFn("api1", {}, null);
                Promise.all([heavyApi, api1]).then(arr => {
                    console.log(arr);
                })
            }
            </code>
        </pre>
        <pre class="code2">
            <code class="language-javascript">
const nestSyncFn1 = () => {
                    myjsonp.jsonpFn().then(res2 => {
                        console.log(res2);
                        myfetch.fetchFn("api1?id=1", {}).then(res1 => {
                            const id = _.get(res1[0], "id", "0");
                            console.log(id);
                        })
                    })
                }
            </code>
        </pre>
        <pre class="code3">
            <code class="language-javascript">
const nestSyncFn2 = async () => {
                        let api1Id;
                        await myfetch.fetchFn("api1?id=1", {}, null).then(res1 => {
                            api1Id = _.get(res1[0], "id", "0");
                            console.log(api1Id, 'api1');
                        });
                        console.log('api1和api2之间');
                        await myfetch.fetchFn(`api2?id=${api1Id}`, {}).then(res2 => {
                            console.log(_.get(res2[0], "id", "0"), 'api2');
                        })
                        console.log('api2之后');
                    }
            </code>
        </pre>
        <pre class="code4">
            <code class="language-javascript">
const mistake1 = () => {
                        let api1Id;
                        promiseFn.promiseFn("api1?id=1")
                            .then(res1 => {
                                api1Id = _.get(res1[0], "id", "0");
                                console.log(res1, 'res1');
                                return api1Id;
                            }).then(id => {
                                console.log(id, 'res2 inside');
                                fetch(`http://localhost:3000/api2?id=${id}`, {}).then(res2 => {
                                    console.log('res2');
                                    return res2.json();
                                })
                                // return 999;
                            }).then(id => {
                                console.log(id, 'res3');
                            })
                    }
            </code>
        </pre>
        <pre class="code5">
            <code class="language-javascript">
const mistake2 = () => {
                        return new Promise(resolve => {
                            fetch(`http://localhost:3000/api1?id=1`, {}).then(res1 => {
                                console.log(1);
                                resolve(res1.json());
                            })
                        }).then(res => {
                            const id = _.get(res[0], 'id', 0);
                            fetch(`http://localhost:3000/api2?id=${id}`, {}).then(res2 => {
                                console.log(2);
                                return res2.json();
                            })
                        })
                    }
                
                    mistake2().then(data => {
                         console.log(data, 3);
                    })
            </code>
        </pre>
    </section>
</div>
<footer>
    <h3>运行结果</h3>
    <div id="result"></div>
</footer>